/* --------------------------------
    HEADER
*/

.header{
  
    margin: 0;
    position: relative;
}

.logo,
.menu {
    float: none;
    margin: 0 auto;
    text-align: center;
    height: 100%;
}

.logo img {

    max-height: 2em;
}

.menu{
 
    padding-top: 1em;
}

.logo_wrapper{
 
    width: 100%;
    padding-top: 1em;
}

.nav-pills {

    float: none;
}

.nav-pills li {
    
    display: table;
    width: 100%;
}

.parallax-container {
    
    height: 400px !important;
}

.parallax-container h1, .top_title_row h1{
 
    font-size: 4em;
}

/* --------------------------------
    CONTENT
*/

.top_row{
 
    margin: 0;
}

.white_row {

    padding: 2em;
}

.red_row {

    padding: 6em 2em;
}

.row img {

    margin-top: 2em;
    float: none;
}

.multi_image{

    float: none;
    margin: 0;
    margin-bottom: 2em;
    padding: 0;
    width: 100% !important;
}

.multi_image img{
    
    width: 100% !important;
}

.chevron{
    
    bottom: 3rem;
}

.chevron img{
 
    width: 1em;
}

.chevron_down{
    
    top: 1em;
}

.chevron_up{
    
    top: 8em;
}



